.card__container {
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
}
.circle {
    background-color: #D3D3D3;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 100%;
    color: #696969;
    font-size: 1.5rem;
    font-weight: 600;
}

.right__box {
    color: #696969;
    padding-top: .25rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    /* background-color: red; */
}

.right__box>p {
    /* padding: 0; */
    margin: 0;
}

.phone__number {
    font-size: 1rem;
    font-weight: 400;
    padding-top: .25rem;
}