.contacts__container {
    background-color: white;
    height: 80%;
    margin: 'auto';
    padding: 1rem 1rem;
    border-radius: 10px;
}

.contacts__container>p {
    margin: 1.5rem 0 1.5rem 0;
    padding: 0;
    width: 450px;
    color: #696969;
    font-size: 1.5rem;
    font-weight: 600;
}

.spinner__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    height: 85%;
    overflow-y: scroll;
    /* background-color: red; */
}

.no__results {
    margin: 0;
    color: #696969;
    font-size: 1rem;
    font-weight: 600;
}